.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;

  > * {
    margin: 0 6px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 1024px) {
    flex-wrap: wrap;
    margin-bottom: 5px;

    input {
      width: 45%;
      flex-grow: 1;
      margin-bottom: 20px;
    }

    a {
      margin-bottom: 20px;
    }
  }
}
