.container {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #f6f8fd;
  flex-shrink: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 110px 30px 25px;

  @media (max-width: 768px) {
    // width: calc(100% + 240px);
    // transform: translateX(-240px);
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 45px 0 0;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  row-gap: 30px;

  @media (min-width: 800px) {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

.separator {
  display: block;
  margin: 25px 0;
  height: 1px;
  width: 100%;
  background-color: rgba(#444444, 0.1);
  border: none;

  @media (min-width: 1024px) {
    margin: 10px 0 25px;
  }
}
